body {
    background-color: black;
    color: white;
}

h1 {
   text-transform: uppercase;
}

p {
    text-align: center;
}

img {
    border: 5px solid white;
    width: 100%;
}

div {
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Lora', serif;
    text-align: center;
}